{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="{% static 'scripts/custom/common.js' %}"></script>
    <script>
    /**
     * DAUM 우편번호 API 호출함수
     * */
    function execDaumPostcode() {
        new daum.Postcode({
            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            oncomplete: function (data) {
                // 지역구분 구하기
                const sido = data.roadAddress.split(" ")[0];
                const gugun = data.roadAddress.split(" ")[1];
                const areaGbCd = getAreaGbCd(sido, gugun);
                // 요청 파라미터 : 도로명주소, 시군구코드, 법정동코드, 지역구분
                const reqParam = {"road_address":data.roadAddress, "sigungu_cd":data.sigunguCode,
                    "bjdong_cd":data.bcode, "area_gb_cd":areaGbCd, "csrfmiddlewaretoken":'{{ csrf_token }}'};
                console.log(reqParam);
                $.ajax({
                    cache: false,
                    url: '/project/',
                    type: 'POST',
                    async: false,
                    data: reqParam,
                    success: function (data) {
                        if (data.result) {
                            window.location.href = "/project/";
                        } else {
                            alert("일시적인 서버 오류입니다.\n관리자에게 문의하세요.");
                        }
                    },
                    error: function (xhr, status) {
                        alert("일시적인 서버 오류입니다.\n관리자에게 문의하세요.");
                    }
                });
            }
        }).open();
    };
    </script>
    <div class="row align-items-center">
        <div class="col-md-12 col-lg-7">
            <div class="header-search">
                <div class="form-group mb-0">
                    <input type="text" class="form-control search-input" placeholder="주소를 검색하세요." onclick="execDaumPostcode()">
                </div>
            </div>
            <!-- Fade-in effect -->
            <div class="row clearfix">
                <div class="col-md-6 col-lg-3">
                    <div class="da-card">
                        <div class="da-card-photo">
                            <img src="{% static 'images/custom/uvalue.png' %}" alt="">
                            <div class="da-overlay">
                                <div class="da-social">
                                    <ul class="clearfix">
                                        <li><a href="calcs/uvalue"><i class="fa fa-calculator"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="da-card-content">
                            <p class="h5 mb-5" style="font-size: smaller">열관류율계산기(KS)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="da-card">
                        <div class="da-card-photo">
                            <img src="{% static 'images/custom/raindrop.png' %}" alt="">
                            <div class="da-overlay">
                                <div class="da-social">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-calculator"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="da-card-content">
                            <p class="h5 mb-5" style="font-size: smaller">빗물관리시설계산기</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Fade-in effect -->
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="login-box bg-white box-shadow border-radius-10">
                <div class="login-title">
                    <h2 class="text-center text-primary">Login</h2>
                </div>
                <form id="signinForm" name="signinForm" class="post-form">{% csrf_token %}
                    <div class="input-group custom">
                        <input type="text" class="form-control form-control-lg" placeholder="Username"
                               name="username" id="username"
                               value="{{ form.username.value|default_if_none:'' }}">
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                        </div>
                    </div>
                    <div class="input-group custom">
                        <input type="password" class="form-control form-control-lg" placeholder="password"
                               name="password" id="password"
                               value="{{ form.password.value|default_if_none:'' }}">
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                        </div>
                    </div>

                    <div class="row pb-30">
                        <div class="col-12">
                            <p id="signinResult" style="color: #b21f2d"></p>
                        </div>
                        <!--
                       <div class="col-6">
                           <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="custom-control-input" id="customCheck1">
                               <label class="custom-control-label" for="customCheck1">Remember</label>
                           </div>
                       </div>
                       <div class="col-6">
                           <div class="forgot-password"><a href="forgot-password.html">Forgot Password</a></div>
                       </div>
                       -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-0">
                                <input id="signinBtn" class="btn btn-primary btn-lg btn-block"
                                       onclick="signin()" value="Sign In">
                            </div>
                            <div class="font-16 weight-600 pt-10 pb-10 text-center"></div>
                            <div class="input-group mb-0">
                                <a class="btn btn-outline-primary btn-lg btn-block" href="#">Register To
                                    Create Account</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="{% static 'scripts/core.js' %}"></script>
    <script src="{% static 'scripts/script.min.js' %}"></script>
    <script src="{% static 'scripts/process.js' %}"></script>
    <script src="{% static 'scripts/layout-settings.js' %}"></script>
    <script>
        function signin() {
            var formData = $('#signinForm').serialize();
            console.log(formData);
            $.ajax({
                cache: false,
                url: "signin/",
                type: 'POST',
                async: false,
                data: formData,
                success: function (data) {
                    if (data.result) {
                        window.location.href = "calcs/"
                    } else {
                        $('#signinResult').text(data.message);
                    }
                },
                error: function (xhr, status,) {
                    $('#signinResult').text("일시적인 서버 오류입니다.\n관리자에게 문의하세요.");
                },
            });
        };
    </script>
{% endblock %}