{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="col-md-10 col-sm-12" style="margin: auto">
                <!-- basic table  Start -->
                <div class="card-box">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">My List</h4>
                        </div>
                    </div>
                    <table style="text-align: center" class="table">
                        <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">프로젝트</th>
                            <th scope="col">계산기</th>
                            <th scope="col">작성일</th>
                            <th width="9%" scope="col">진행상태</th>
                            <th width="9%" scope="col">수정</th>
                            <th width="9%" scope="col">출력</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for calc in calc_list %}
                            <tr>
                                <th scope="row">1</th>
                                <td>마석우리 오피스텔</td>
                                <td>열관류율 계산기</td>
                                <td>{{ calc.wrt_dt }}</td>
                                <td><span class="badge badge-primary">진행중</span></td>
                                <td><a href="uvalue/{{ calc.uvalue_tmpl_cd }}"><span class="badge badge-secondary">수정하기</span></a></td>
                                <td><a href="#"><span class="badge badge-success">출력하기</span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="{% static 'scripts/core.js' %}"></script>
    <script src="{% static 'scripts/script.min.js' %}"></script>
    <script src="{% static 'scripts/process.js' %}"></script>
    <script src="{% static 'scripts/layout-settings.js' %}"></script>
{% endblock %}